ENVIRONMENT="local"
LOG_LEVEL="trace"
WEB_SERVER_PORT=8000

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_NAME="boilerplate"
DATABASE_SSL_MODE="disable"
DATABASE_MAX_OPEN_CONNS=25
DATABASE_MAX_IDLE_CONNS=25
DATABASE_CONN_MAX_LIFETIME_SECS=300
DATABASE_CONN_MAX_IDLE_TIME_SECS=300

TOKEN_ISSUER="boilerplate.api"
TOKEN_AUDIENCE="boilerplate.api"

ACCESS_TOKEN_SECRET="long-random-and-secure-secret"
ACCESS_TOKEN_LIFETIME_MINUTES=60 # 1 hour

REFRESH_TOKEN_SECRET="another-long-random-and-secure-secret"
REFRESH_TOKEN_LIFETIME_MINUTES=1440 # 24 hours
